@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

header h1 {
    color: #652CB3;
}

header a {
    cursor: pointer;
}

@media (max-width:700px) {
    header h1.edit-label {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

/* Edit section */



section.edit-section {
    
    display: grid;
    /* grid-template-columns: minmax(2cm,3cm) 2fr; */
    grid-template-columns: 2cm 2fr;
    grid-template-rows: 100%;
    background-color: #E2D1FD;
    height: 90vh;
}


/* Edit Section Feature Bar */

section.edit-section .feature-bar {
    background-color: white;

    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

section.edit-section .feature-bar .feature-bar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    height: 100%;
    width: 10fr;
}

section.edit-section .feature-bar .feature-bar-content button{
    background-color: white;
    border: none;
}

section.edit-section .feature-bar .feature-bar-content button.save-button{
    width: 135%;
    height: 7.5%;
    background-color: #652CB3;
    border: 0px;
    color: white;
    margin-top: 5%;
    cursor: pointer;
}

section.edit-section .feature-bar .feature-bar-content button.save-button:hover{
    background-color: #652CB3;
    opacity: .5;
    transition: .2s;
}

section.edit-section .feature-bar .feature-bar-content .rotate-button img {
    width: 90%;
    height: 90%;
    background: no-repeat scroll 0 0 transparent;
    cursor: pointer;
}

section.edit-section .feature-bar .feature-bar-content button.rotate-button:hover{
    opacity: .5;
    transition: .2s;
}



section.edit-section .feature-bar .feature-bar-content .brightness-button img {
    width: 90%;
    height: 90%;
    background: no-repeat scroll 0 0 transparent;
    cursor: pointer;
}

section.edit-section .feature-bar .feature-bar-content .brightness-button img:hover {
    opacity: .5;
    transition: .2s;
}



/* Edit Section Image Container */


section.edit-section div.image-container {
    border-style: solid;
    border-color: white;
    object-fit: contain;

    /* margin-right: .5%; */
    /* margin-left: .5%; */
    /* margin-top: 0%;
    margin-bottom: 0%; */

    /* display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30% 0;
    vertical-align: middle; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* get rid of duplicate image in canvas since it displays both image container and canvas */
section.edit-section #canvas {
    display: none;
}
 

/* Edit Section Image Container Brightness Bar */
div.container {
    position: sticky; 
    text-align: center;
    bottom: 0;
}

div.container div.brightness-box label {
    font-family: "Copperplate", Times, serif;
}

div.container div.brightness-box img.low-bright {
    width: 1cm;
    height: 1cm;
    background: no-repeat scroll 0 0 transparent;
}

div.container div.brightness-box img.high-bright {
    width: 1cm;
    height: 1cm;
    background: no-repeat scroll 0 0 transparent;
}

/* Slider style */
input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 40%;
    background: no-repeat scroll 0 0 transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  



/* Edit Section Main Image */


 section.edit-section div.image img{
    /* grid-column-start: 1;

    width: 10%;
    height: 10%;
    object-fit: cover;
    cursor: pointer;

    border-radius: 4px;
    width: 35px; */
}
 


 /* Gallery title styling */
 section.edit-section > h1 {
     color: #652CB3;
     padding: 25px;
     font-size: 50px;
     text-align: center;
     grid-column: 1 / 4;
 }
 
 section.edit-section .edit-section-container {
     aspect-ratio: 1;
     padding: 0px;
 
 }

.image-container canvas
{
    display: none;
}