@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    background-color: white;
    z-index: 100;
    position: sticky;
    top: 0;
}

header .team-brand {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

header img.logo {
    width: 100px;
    height: 100px;
}

header .team-brand .team-name {
    color:#652CB3;
    font-weight: 500;
}

header .nav-toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    width: 40px;
    height: 31px;
    background-color: white;
    align-items: center;
}

header .nav-toggle .bar {
    height: 6px;
    width: 100%;
    background-color: #652CB3;
    border-radius: 10px;
}

header .main-nav .nav-links {
    list-style: none;
}
header .main-nav .nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin-left: auto;
}

header .main-nav .nav-links li a {
    font-size: 0.9rem;
    color: #652CB3;
    text-decoration: none;
    font-weight: 400;
    font-size: large;
}

header .main-nav .nav-links li a:hover {
    color: #4a2283;
}

header a {
    cursor: pointer;
}

@media (max-width:700px) {
    header .nav-toggle {
        display: flex;
    }

    header .main-nav{
        width: 100%;
    }

    header .main-nav .nav-links {
        display: none;
    }

    header .main-nav .nav-links.active {
        display: flex;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .main-nav .nav-links li {
        width: 100%;
        text-align: center;
    }
}

/* Upload Section */
section.upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2D1FD;
    height: 90vh;
}

section.upload-section .upload-section-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 60vh;
    max-width: 100vh;
    min-height: 50vh;
    background-color: white;
    color: #652CB3;
    padding: 5%;
    margin: 10vh 0px 0px 0px;
}

section.upload-section div.upload-section-box .upload-icon {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

section.upload-section div.upload-section-box form#upload-form {
    text-align: center;
}

section.upload-section div.upload-section-box form#upload-form input{
    margin-left: 6em;
    text-align: center;
}

section.upload-section button#upload-button {
    width: 175px;
    height: 50px;
    background-color: #652CB3;
    border: 0px;
    color: white;
    margin-top: 5%;
}

section.upload-section button#upload-button:hover{
    background-color: #4a2283;
}

/* Gallery Section */
section.gallery-section {
    background-color: white; 
    padding-left: 5%;
    padding-right: 5%;
 }

section.gallery-section > h1 {
    color: #652CB3;
    padding: 25px;
    font-size: 50px;
    text-align: center;
}

#gallery-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery-container img
{
    height: 33vh;
    width: 33vh;
    padding: 5%;
    margin: 5%;
    vertical-align: middle;
    border-radius: 50px;
    background: url("./assets/images/no-image.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;

}

#gallery-container img:hover
{
    opacity: 0.7;
    transition: 0.2s;
}

/* Footer Section */
section.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2D1FD;
    height: 20vh; 
    color:#4a2283
}
